.payment_method_ovri img {
  padding-bottom: 5px !important;
}
.payment_method_ovripnftwo img {
  padding-bottom: 5px !important;
}
.payment_method_ovripnfthree img {
  padding-bottom: 5px !important;
}
.payment_method_ovripnffour img {
  padding-bottom: 5px !important;
}